@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    line-height: 1.6;

}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('https://wallpapercave.com/wp/wp4877950.jpg') no-repeat center center/cover;
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about {
    background-color: crimson;
}

#about p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 2.5em;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.content-section {
    padding: 20px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
